body {
  font-family: "Rubik", sans-serif;
  background-color: black;
  color: white;
}

/* NavBar */

nav {
  background-color: #a6abca;
}

.nav-link > i {
  font-size: 35px;
}

.nav-link:hover > i {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  color: #007bff; /* Cambia este color si deseas otro al hacer hover */
}

.navbar-collapse {
  align-items: center;
  justify-content: space-around;
}

/* welcome section */
.nav-item a {
  margin: 0 20px;
  font-weight: 300px;
}

/* Section hero  */

.illustration-hero {
  z-index: 500;
}

.img-fluid {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  left: 36%;
}

.introduction-text {
  font-size: 20px;
}

/* section cards  */
.custom-card {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin: 20px;
}

.custom-card:hover {
  transform: translateY(-10px);
  background-color: #b7bde2;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  transition: 0.3s ease;
}

.overlay-text {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.content {
  padding: 15px;
}

.content h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.content p {
  margin: 5px 0;
  font-size: 14px;
}

/* footer */
.footer .menu {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu .navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.social-media {
  font-size: 24px;
  color: #3a3c47;
}

.svg-container {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.svg-container:hover {
  transform: scale(1.1);
  opacity: 0.8; /* Reduce opacity on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on hover */
}

/* Add the following styles to reset the effect when not hovered */
.svg-container:not(:hover) {
  transform: scale(1);
  opacity: 1;
  box-shadow: none;
}

.social-media > i {
  font-size: 35px;
}
.social-media:hover > i {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  color: #007bff; /* Cambia este color si deseas otro al hacer hover */
}


@media (min-width: 300px) and (max-width: 350px) {
  .img-fluid {
    left: 10%;
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 350px) and (max-width: 400px) {
  .img-fluid {
    left: 7%;
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 400px) and (max-width: 450px) {
  .img-fluid {
    left: 7%;
  }
}

@media (min-width: 450px) and (max-width: 500px) {
  .img-fluid {
    left: 14%;
  }
}

@media (min-width: 500px) and (max-width: 550px) {
  .img-fluid {
    left: 23%;
  }
}

@media (min-width: 550px) and (max-width: 767px) {
  .img-fluid {
    left: 23%;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  .img-fluid {
    left: -1%;
  }
}

@media (min-width: 900px) and (max-width: 1050px) {
  .img-fluid {
    left: 4%;
  }
}
