/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Ubuntu", sans-serif;
  color: black;
  background-color: white;
}

a {
  color: white;
}

.img-tab {
  width: 350px;
  height: 350px;
}
